.line-report-1 {
  -webkit-clip-path: polygon(
    0 55%,
    0 100%,
    100% 100%,
    100% 41%,
    90% 81%,
    80% 36%,
    70% 78%,
    60% 27%,
    50% 78%,
    40% 58%,
    30% 36%,
    20% 45%,
    10% 27%
  );
  clip-path: polygon(
    0 55%,
    0 100%,
    100% 100%,
    100% 41%,
    90% 81%,
    80% 36%,
    70% 78%,
    60% 27%,
    50% 78%,
    40% 58%,
    30% 36%,
    20% 45%,
    10% 27%
  );
  background-image: linear-gradient(#c9f7f5, #c5fffc);
}
.line-report-2 {
  -webkit-clip-path: polygon(
    0 45%,
    0 100%,
    100% 100%,
    100% 71%,
    90% 11%,
    80% 46%,
    70% 28%,
    60% 67%,
    50% 38%,
    40% 28%,
    30% 76%,
    20% 35%,
    10% 77%
  );
  clip-path: polygon(
    0 45%,
    0 100%,
    100% 100%,
    100% 71%,
    90% 11%,
    80% 46%,
    70% 28%,
    60% 67%,
    50% 38%,
    40% 28%,
    30% 76%,
    20% 35%,
    10% 77%
  );
  background-image: linear-gradient(#e1f0ff, #e1f0ff);
}
.line-report-3 {
  -webkit-clip-path: polygon(
    0 65%,
    0 20%,
    100% 100%,
    100% 71%,
    90% 11%,
    80% 46%,
    70% 28%,
    60% 67%,
    50% 38%,
    40% 28%,
    30% 15%,
    20% 35%,
    10% 77%
  );
  clip-path: polygon(
    0 65%,
    0 200%,
    100% 100%,
    100% 71%,
    90% 11%,
    80% 46%,
    70% 28%,
    60% 67%,
    50% 38%,
    40% 28%,
    30% 15%,
    20% 35%,
    10% 77%
  );
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(#ffe2e5, #ffe2e5);
}
